Create a list of numbers 100 elements in length that counts by 3s - i.e., [3,6,9,12,...]

In [1]:
list1 = [3 * i for i in range(1, 100)]
print(list1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297]

Using the list from question 1, create a second list whose elements are the same values converted to strings. hint: use a for loop and the function str().

In [2]:
list2 = str(list1)
print(list2)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297]

Using the list from question 2, create a variable that concatenates each of the elements in order of index (Hint: result should be like "36912...").

In [3]:
list3 = ''.join(map(str, list1))
print(list3)

369121518212427303336394245485154576063666972757881848790939699102105108111114117120123126129132135138141144147150153156159162165168171174177180183186189192195198201204207210213216219222225228231234237240243246249252255258261264267270273276279282285288291294297

Using .pop() and .append(), create a list whose values are the same as the list from question 1 but in reverse order. (Hint: .pop() removes the last element from a list. The value can be save, i.e., x = lst.pop().)

In [34]:
list1 = [3 * i for i in range(1, 100)]
reverse_list = []
j = len(list1)
for i in range(j):
    reverse_list.append(len(reverse_list) + list1.pop())

print(reverse_list)

[297, 295, 293, 291, 289, 287, 285, 283, 281, 279, 277, 275, 273, 271, 269, 267, 265, 263, 261, 259, 257, 255, 253, 251, 249, 247, 245, 243, 241, 239, 237, 235, 233, 231, 229, 227, 225, 223, 221, 219, 217, 215, 213, 211, 209, 207, 205, 203, 201, 199, 197, 195, 193, 191, 189, 187, 185, 183, 181, 179, 177, 175, 173, 171, 169, 167, 165, 163, 161, 159, 157, 155, 153, 151, 149, 147, 145, 143, 141, 139, 137, 135, 133, 131, 129, 127, 125, 123, 121, 119, 117, 115, 113, 111, 109, 107, 105, 103, 101]

In [13]:
list1 = [3 * i for i in range(1, 100)]
reverse_list = []
while list1:
    reverse_list.insert(len(reverse_list), list1.pop())

print(reverse_list)

[297, 294, 291, 288, 285, 282, 279, 276, 273, 270, 267, 264, 261, 258, 255, 252, 249, 246, 243, 240, 237, 234, 231, 228, 225, 222, 219, 216, 213, 210, 207, 204, 201, 198, 195, 192, 189, 186, 183, 180, 177, 174, 171, 168, 165, 162, 159, 156, 153, 150, 147, 144, 141, 138, 135, 132, 129, 126, 123, 120, 117, 114, 111, 108, 105, 102, 99, 96, 93, 90, 87, 84, 81, 78, 75, 72, 69, 66, 63, 60, 57, 54, 51, 48, 45, 42, 39, 36, 33, 30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

Using len(), calculate the midpoint of the list from question 1. Pass this midpoint to slice the list so that the resultant copy includes only the second half of the list from question 1.

In [44]:
list1 = [3 * i for i in range(1, 100)]
mid_index = 50
max_index = len(list1)
print("Second Half", list1[mid_index:max_index])

Second Half [153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297]

Create a string that includes only every other element, starting from the 0th element, from the string in question 3 while maintaining the order of these elements (Hint: this can be done be using a for loop whose values are descending).

In [55]:
list1 = [6 * i for i in range(0, 100)]
list3 = ''.join(map(str, list1))

print(list3)

06121824303642485460667278849096102108114120126132138144150156162168174180186192198204210216222228234240246252258264270276282288294300306312318324330336342348354360366372378384390396402408414420426432438444450456462468474480486492498504510516522528534540546552558564570576582588594

Explain the difference between a dynamic list in Python (usually referred to as a list) and a tuple.

In Python, there are two types of data structures: list and tuple. The list has dynamic properties, but the tuple has static ones. In other languages, lists are declared similarly to arrays. Tuple is another sequence data type that can contain elements of many data types, but it is immutable. A tuple, in other terms, is a set of Python objects separated by commas. Because of its static nature, the tuple is faster than the list.